@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* globals.css */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Fredoka:wght@400;500;700&display=swap');

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-fredoka {
  font-family: 'Fredoka', sans-serif;
}

.perspective {
  perspective: 1000px;
}

.relative {
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.group-hover\:rotate-y-180:hover .relative {
  transform: rotateY(180deg);
}

.perspective {
  perspective: 1000px;
}

.relative {
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.group:hover .relative {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin 10s linear infinite;
}

